	* {
		margin:0;
		padding:0;
	}
	
	.buttons {
		width:60px;
		height:60px;
		display:inline-block;
		background-color:white;
    		border-width:1px;
    		border-style: solid;
    		border-color: #d2e3fc;
	}
	
	#root {
		text-align:center;	
	}

	.row {
		display:block;
	}

	#puzzle {
		display:inline-block;
		
	}
