	* {
		margin:0;
		padding:0;
	}
	
	body {
		background-color:#f8e9ea;
	}

	.inputs {
		width:30px;
		height:30px;
		display:inline-block;
		background-color:#E9F8F7;
		border-width:1px;
		border-color:white;
		text-align:center;
	}
	
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
  		-webkit-appearance: none;
 		 margin: 0;
	}

	#puzzle {
		display:inline-block;
		margin:40% 2% 0% 2%;
	}

	@media screen and (min-width: 600px) {
 		.inputs {
			width:60px;
			height:60px;
		}
	
		#puzzle {
			margin:5% 2% 0% 2%;
		}
	}

	.inputs:hover {
		background-color:#DCEDFF;
	}

	table {
		border-collapse:collapse;
	}	

	.row {
		display:block;
	}

	.settings {
		position: relative;
		text-align:center;
		margin: 10px 0 10px 0; 
	}

	.settings button {
		transition-duration: 0.4s;
		border-radius: 12px;
		font-size:24px;
		padding: 6px;	
	}

	.settings button:hover {
 		background-color: #DEE9CC;
		color: white;
		cursor: pointer;
	}
	
	#show-solution {
		margin-top: 10px;
	}

	#timer {
		display: inline-block;
		position:absolute;
		margin-left: 120px;
		top: 13px;
	}

	#root {
		text-align:center;
	}

